<html>
	<body>
		<div>Params:</div>
		<% params.keys.each do |param| %>
			<div><%=param%>: "<%=params[param]%>"</div>
		<% end %>
		Exam Name: "<%=@name%>"
		<% @exercises.keys.each do |num| %> 
			<div>Exercise <%=num%>: 
				<% @exercises[num].keys.each do |param|%>
					<div><%=param%>: "<%=@exercises[num][param]%>"</div>
				<% end %>
			</div>
		<% end %>
		<p>Exam Generation Complete! <a href="<%=@exam.get_url%>">download (tgz archive)</a></p>
		<p><a href="/">Create Another Exam</a>
	</body>
</html>
